openapi: 3.0.3
info:
  title: Trustwell FoodLogiQ Compliance Recalls API
  description: Open REST API for food supply chain management, compliance, quality assurance, traceability (FSMA 204), and recall management. Enables enterprise food brands to integrate supply chain data with ERP, WMS, and third-party systems.
  version: 1.0.0
  contact:
    url: https://www.trustwell.com/products/foodlogiq/
  termsOfService: https://www.trustwell.com/terms-of-service/
servers:
- url: https://api.trustwell.com/foodlogiq/v1
  description: Production
tags:
- name: Recalls
  description: Recall and withdrawal management
paths:
  /recalls:
    get:
      operationId: listRecalls
      summary: List Recalls
      description: Retrieve recall and withdrawal events.
      tags:
      - Recalls
      security:
      - ApiKey: []
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - active
          - mock
          - completed
          - archived
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Recalls returned
    post:
      operationId: createRecall
      summary: Create Recall
      description: Initiate a new recall or withdrawal event.
      tags:
      - Recalls
      security:
      - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecallInput'
      responses:
        '201':
          description: Recall event created
  /recalls/{recallId}:
    get:
      operationId: getRecall
      summary: Get Recall
      description: Retrieve details and progress for a specific recall event.
      tags:
      - Recalls
      security:
      - ApiKey: []
      parameters:
      - name: recallId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recall details returned
components:
  schemas:
    RecallInput:
      type: object
      properties:
        title:
          type: string
        reason:
          type: string
        recallType:
          type: string
          enum:
          - voluntary
          - mock
          - regulatory
        productIds:
          type: array
          items:
            type: string
      required:
      - title
      - reason
      - recallType
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
