openapi: 3.0.3
info:
  title: Trustwell FoodLogiQ Compliance Traceability API
  description: Open REST API for food supply chain management, compliance, quality assurance, traceability (FSMA 204), and recall management. Enables enterprise food brands to integrate supply chain data with ERP, WMS, and third-party systems.
  version: 1.0.0
  contact:
    url: https://www.trustwell.com/products/foodlogiq/
  termsOfService: https://www.trustwell.com/terms-of-service/
servers:
- url: https://api.trustwell.com/foodlogiq/v1
  description: Production
tags:
- name: Traceability
  description: Farm-to-fork traceability (FSMA 204)
paths:
  /traceability/lots:
    get:
      operationId: listLots
      summary: List Lots
      description: Retrieve traceability lot records for FSMA 204 compliance.
      tags:
      - Traceability
      security:
      - ApiKey: []
      parameters:
      - name: productId
        in: query
        required: false
        schema:
          type: string
      - name: supplierId
        in: query
        required: false
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Lot records returned
  /traceability/lots/{lotId}:
    get:
      operationId: getLot
      summary: Get Lot
      description: Retrieve traceability details for a specific lot.
      tags:
      - Traceability
      security:
      - ApiKey: []
      parameters:
      - name: lotId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lot details returned
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
