openapi: 3.0.3
info:
  title: Trustwell FoodLogiQ Compliance API
  description: Open REST API for food supply chain management, compliance, quality assurance, traceability (FSMA 204), and recall management. Enables enterprise food brands to integrate supply chain data with ERP, WMS, and third-party systems.
  version: 1.0.0
  contact:
    url: https://www.trustwell.com/products/foodlogiq/
  termsOfService: https://www.trustwell.com/terms-of-service/
servers:
- url: https://api.trustwell.com/foodlogiq/v1
  description: Production
tags:
- name: Compliance
  description: Compliance documentation and requirements
paths:
  /compliance/documents:
    get:
      operationId: listComplianceDocuments
      summary: List Compliance Documents
      description: Retrieve compliance documents submitted by suppliers.
      tags:
      - Compliance
      security:
      - ApiKey: []
      parameters:
      - name: supplierId
        in: query
        required: false
        schema:
          type: string
      - name: documentType
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - pending
          - approved
          - rejected
          - expired
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Compliance documents returned
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-KEY
